<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>{{ breadcrumb|length ? 'Admin / '~breadcrumb : 'Kinders Admin' }}</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body>
{% embed "@admin/navbar.html.twig" %}
{% endembed %}
<div class="container">
    {% block body %}
        <div class="row mt-3">
            <div class="col-4">
                <div class="border border-primary">
                    <table class="table table-striped table-sm" style="margin: 0">
                        <tbody>
                        {% for name, nb in stats %}
                            <tr>
                                <td>{{ name }}</td>
                                <td>{{ nb ?: '' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% set img='<svg class="bd-placeholder-img rounded" width="150" height="100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="40%" y="50%" fill="#dee2e6" dy=".3em">{TEXT}</text></svg>' %}
            <div class="col text-right">
                <div style="display: inline-block; margin-bottom: .2em">
                    {{ img|replace({'{TEXT}': '1 : 1'})|raw }}
                    {{ img|replace({'{TEXT}': '1 : 2'})|raw }}
                </div>
                <br>
                <div style="display: inline-block">
                    {{ img|replace({'{TEXT}': '2 : 1'})|raw }}
                    {{ img|replace({'{TEXT}': '2 : 2'})|raw }}
                </div>
            </div>
        </div>
    {% endblock %}
</div>

{% block javascripts %}
{{ encore_entry_script_tags('admin') }}
</body>
{% endblock %}
</html>
