<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>{{ block('title') }}</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
        <link href="{{ asset('front.css'|assetbuilder) }}" rel="stylesheet">
    {% endblock %}
</head>
<body>

<div id="menu">
    {% block menu %}
        <a href="{{ path('front_home') }}" class="logo">
            <img src="{{ asset('wiki.png') }}">
        </a>

        {%- if is_granted('ROLE_ADMIN') -%}
            {{ 'ADMIN' -}}
            <ul class="admin">
                <li><a href="{{ path('admin_menucategs_add') }}">Ajouter une catégorie</a></li>
                <li><a href="{{ path('admin_menuitems_add') }}">Ajouter un lien</a></li>
                <li><a href="{{ path('admin_series') }}">Séries</a></li>
            </ul>
        {%- endif -%}

        {%- for categ in frontmenu.categories -%}
            {{- categ.name -}}
            <ul>
                {%- for item in categ.items -%}
                    <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                {%- endfor -%}
            </ul>
        {% endfor %}
    {% endblock %}
</div>

<div id="content">
    <h1>
        {%- block h1_wrapper -%}
            {%- block title -%}{%- endblock -%}
        {%- endblock -%}
    </h1>
    {%- block content -%}
    {%- endblock -%}
</div>

<div class="clearfix"></div>

<div id="footer">
    {%- block footer -%}
        &copy; {{ 'now'|date('Y') }} &mdash; Elodie Buathier &mdash; <a href="mailto:kinder@arnapou.net">✉ Contact</a>
    {%- endblock -%}
</div>

{% block javascripts %}
    <script src="{{ asset('front.js'|assetbuilder) }}"></script>
{% endblock %}
</body>
</html>
