{% extends "base.html.twig" %}

{% import "macros.html.twig" as macro %}
{% import _self as self %}

{% block title %}
    {{ menuitem.name }}
{% endblock %}

{% block content %}

    {% for item in collections %}
        {% if item.collection is defined %}
            <h2 class="mt-4">
                <a href="{{ path('front_collection', {id: item.collection.id, slug: item.collection.slug}) }}">
                    {{ item.collection }}
                </a>
            </h2>
        {% endif %}
        {{ self.table_series(item.series) }}
    {% endfor %}

{% endblock %}

{% macro table_series(series, notid) %}
    {% import "macros.html.twig" as macro %}
    <table class="kinders series">
        <thead>
        <tr>
            <th>Pays</th>
            <th>Année</th>
            <th>Série</th>
        </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            {% if serie.id != notid %}
                <tr>
                    <td>
                        {{ macro.flag(serie.country) }} {{ serie.country }}
                    </td>
                    <td>{{ serie.year }}</td>
                    <td class="imageserie">
                        <a href="{{ path('front_serie', {id: serie.id, slug: serie.slug}) }}">
                            {{- macro.imageserie(serie) -}}
                            {{- serie.name -}}
                        </a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}