{% extends "base.html.twig" %}

{% import "macros.html.twig" as macro %}

{% block title %}
    {{ serie.name }}{% if serie.year %} &ndash; {{ serie.year }}{% endif %}
{% endblock %}

{% block content %}

    {{ block('serie_header') }}
    {{ block('serie_kinders') }}
    {{ block('serie_pieces') }}
    {{ block('serie_items') }}
    {{ block('serie_attributes') }}

{% endblock %}

{% block serie_header %}
    {% if serie.comment %}
        <p>
            {{ serie.comment|nl2br }}
        </p>
    {% endif %}
{% endblock %}

{% block serie_kinders %}
    {% if serie.kinders|length == 0 %}
        <p class="alert alert-secondary">
            Aucune figurine dans cette série 🙁
        </p>
    {% else %}
        <table class="kinders">
            <thead>
            <tr>
                <th>Référence</th>
                <th>Nom</th>
                <th>Photos</th>
                <th>BPZ</th>
            </tr>
            </thead>
            <tbody>
            {% for kinder in serie.kinders %}
                <tr>
                    <td class="text-center">{{ kinder.reference ?: '' }}</td>
                    <td>
                        {{ kinder.name }}
                        {% if kinder.variante %}
                            <p class="text-muted variante">
                                Variante : {{ kinder.variante }}
                            </p>
                        {% endif %}
                    </td>
                    <td class="image">
                        {{ macro.image(kinder) }}
                        {{ macro.status(kinder) }}
                    </td>
                    <td>
                        {% for bpz in kinder.bpzs %}
                            {{ macro.images(bpz) }}
                            {{ macro.status(bpz) }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block serie_pieces %}
    {% if serie.pieces|length %}
        <h2 class="mt-5">Pièces détachées</h2>
        <table class="kinders">
            <thead>
            <tr>
                <th>Référence</th>
                <th>Nom</th>
                <th>Pièce</th>
                <th>Photos</th>
                <th>Tags</th>
            </tr>
            </thead>
            <tbody>
            {% for piece in serie.pieces %}
                <tr>
                    <td class="text-center">{{ piece.reference ?: '' }}</td>
                    <td>{{ refs[piece.reference] ?? '?' }}</td>
                    <td>{{ piece.name }}</td>
                    <td class="image">
                        {{ macro.images(piece) }}
                        {{ macro.status(piece) }}
                    </td>
                    <td>
                        {{ macro.attributes(piece) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block serie_items %}
    {% if serie.items|length %}
        <h2 class="mt-5">Objets</h2>
        <table class="kinders">
            <thead>
            <tr>
                <th>Référence</th>
                <th>Nom</th>
                <th>Objet</th>
                <th>Photos</th>
                <th>Tags</th>
            </tr>
            </thead>
            <tbody>
            {% for item in serie.items %}
                <tr>
                    <td class="text-center">{{ item.reference ?: '' }}</td>
                    <td>{{ refs[item.reference] ?? '?' }}</td>
                    <td>{{ item.name }}</td>
                    <td class="image">
                        {{ macro.images(item) }}
                        {{ macro.status(item) }}
                    </td>
                    <td>
                        {{ macro.attributes(item) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block serie_attributes %}
    {% if serie.attributes|length %}
        <p class="mt-5 kinder">
            Tags : {{ macro.attributes(serie) }}
        </p>
    {% endif %}
{% endblock %}